@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1400px;
    align-items: center;
    margin: 20px 0 20px 0;
}

.sedan-container {
    background-color: #E28525;
    width: 330px;
    height: 500px;
    border-radius: 15px 15px 0 0;
}

.suvs-container {
    background-color: #016972;
    width: 330px;
    height: 500px;
}

.luxury-container {
    background-color: #00403F;
    width: 330px;
    height: 500px;
    border-radius: 0 0 15px 15px;
}

.container .sedan-container--icon,
.suvs-container--icon, 
.luxury-container--icon {
    margin: 40px 0 0 40px;
}

.sedan-container h2, 
.suvs-container h2, 
.luxury-container h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3.0rem;
    margin-left: 40px;
    color: #ffffffbf; 
}

.container p {
    margin: 0 40px 0 40px;
    line-height: 1.6;
    color: #ffffffbf;   

}

.container a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    margin-top: 60px;
    margin-left: 40px;
    padding: 13px 27px;
    border-radius: 25px; 
    transition: all .4s ease-in-out
        
}

.sedan-container a {
    color: #E28525;
}

.suvs-container a {
    color:#016972;
}

.luxury-container a {
    color: #00403F;
}

.container a:hover, .container a:active {
    color:#f2f2f2;
    background-color: transparent;
}

@media (min-width: 813px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .sedan-container {
        border-radius: 15px 0 0 15px;
    }

    .luxury-container {
        border-radius: 0 15px 15px 0;
    }
}